#quote {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 15px 0px;
}

.quote--writing {
  font-family: "Jua", serif;
  color: rgb(233, 233, 233);
  text-shadow: 2px 2px 2px rgb(75, 75, 75);
  font-size: 25px;
}

.quote--writer {
  font-family: "Jua", serif;
  color: rgb(233, 233, 233);
  text-shadow: 2px 2px 2px rgb(75, 75, 75);
  font-size: 18px;
}
