#todo {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 35vh;
}

#todo-list {
  list-style-type: upper-roman;
  background-color: rgba(233, 233, 233, 0.4);
  width: 500px;
  border-radius: 20px;
}

#todo-form input {
  height: 30px;
  width: 200px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 2px rgb(75, 75, 75);
}

#reset-btn {
  height: 30px;
  width: 60px;
  font-size: 16px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  box-shadow: 2px 2px 2px rgb(75, 75, 75);
}

#todo-list li span {
  font-family: "Jua", serif;
}

#todo-list li {
  color: black;
  font-size: 22px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
#todo-list li button {
  border: 0;
  font-size: 22px;
  color: red;
  background-color: rgba(233, 233, 233, 0);
}

.checked_list span {
  text-decoration: line-through;
  color: gray;
}
