#weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    color: rgb(233, 233, 233);
    text-shadow:2px 2px 2px rgb(75, 75, 75);
}

.weather--city {
    display: block;
    text-shadow:2px 2px 2px rgb(75, 75, 75);
}
.weather--weather {
    font-size: 30px;
    display: block;
    text-shadow:2px 2px 2px rgb(75, 75, 75);
}

.a_list{
    display: flex;
    justify-content: left;
    align-items: center;
    filter:grayscale(30%);
}

.a_list a{
    padding-right: 10px;
    padding-left: 10px;
}

.weather_section {
    display: flex;
    align-items: center;
    text-align: center;
}

.weather--block{
    display: block;
}
